# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = itEbooks_Scrapy.settings

[deploy:30_deploy]
url = http://127.0.0.1:6800/
project = itEbooks_Scrapy


[scrapyd]
bind_address = 0.0.0.0


